* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    background-color: #083b4c;
    text-align: center;
    --blue: #1389b2;
    --green: #0cd6a1;
    --yelllow: #ffd166;
    --red: #f0466f;
}

header {
    color: white;
    font-size: 25px;
    margin: 25px auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.square {
    background-color: var(--blue);
    position: relative;
    

    /* debug */
    width: 100px;
    height: 100px;
    border: solid 1px white;

}

.square span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}